Python Intro

In [5]:
print("Hello World!")

Hello World!

Python Syntax

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [10]:
if 5 > 2:
    print("Five is greater than two!")
    if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [16]:
x = 5
y = "Hello, World!"

In [14]:
#This is a comment
print("Hello World!")

Hello World!

Python Comments:

In [19]:
#This is a comment
print("Hello World!")

Hello World!

In [21]:
print("Hello World!") #This is a comment

Hello World!

In [23]:
#print("Hello World!")
print("Cheers Mate!")

Cheers Mate!

In [25]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [27]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables:

In [30]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [32]:
x = 4  #x is of type int
x = "Sally" #x is now of type str
print(x)

Sally

In [38]:
x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0
print(x,y,z)

3 3 3.0

In [40]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [42]:
x = "John"
print(x)
#is the same as
x = 'John'
print(x)

John
John

In [44]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

Variable Names:

In [47]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

Assign Multiple Variables:

In [50]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [52]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [54]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables:

In [57]:
x = "Python is awesome"
print(x)

Python is awesome

In [59]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [61]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [63]:
x = 5
y = 10
print(x + y)

15

In [67]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables:

In [70]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [74]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [76]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [78]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types:

In [81]:
x = 5
print(type(x))

<class 'int'>

In [85]:
x = "Hello World"

print(x)

print(type(x))

Hello World
<class 'str'>

In [87]:
x = 20

print(x)

print(type(x))

20
<class 'int'>

In [89]:
x = 20.5

print(x)

print(type(x))

20.5
<class 'float'>

In [91]:
x = 1j

print(x)

print(type(x))

1j
<class 'complex'>

In [93]:
x = ["apple", "banana", "cherry"]

print(x)

print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [95]:
x = ("apple", "banana", "cherry")

print(x)

print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [97]:
x = range(6)

print(x)

print(type(x))

range(0, 6)
<class 'range'>

In [99]:
x = {"name" : "John", "age" : 36}

print(x)

print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [101]:
x = {"apple", "banana", "cherry"}

print(x)

print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [103]:
x = frozenset({"apple", "banana", "cherry"})

print(x)

print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [105]:
x = True

print(x)

print(type(x))

True
<class 'bool'>

In [107]:
x = b"Hello"

print(x)

print(type(x))

b'Hello'
<class 'bytes'>

In [109]:
x = bytearray(5)

print(x)

print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [111]:
x = None

print(x)

print(type(x))

None
<class 'NoneType'>

In [113]:
x = memoryview(bytes(5))

print(x)

print(type(x))

<memory at 0x000002246AAA5780>
<class 'memoryview'>


Python Numbers

In [118]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [120]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [122]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [124]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [126]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [128]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [130]:
import random

print(random.randrange(1, 10))

9

In [132]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [134]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [136]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

Python Strings:

In [140]:

print("Hello")
print('Hello')

Hello
Hello

In [142]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [144]:
a = "Hello"
print(a)

Hello

In [147]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [149]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [151]:
a = "Hello, World!"
print(a[1])

e

In [153]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [155]:
a = "Hello, World!"
print(len(a))

13

In [157]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [159]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [161]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [163]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Python - Slicing Strings

In [166]:
b = "Hello, World!"
print(b[2:5])

llo

In [168]:
b = "Hello, World!"
print(b[:5])

Hello

In [170]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [172]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [174]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [176]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [178]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [180]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [182]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [184]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [186]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [188]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [190]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [192]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [194]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [196]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [198]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [200]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [202]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [204]:
txt = "Hello\rWorld!"
print(txt)

World!

In [206]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [208]:
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [210]:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [212]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [216]:
"""
Method	          Description
capitalize()	  Converts the first character to upper case
casefold()	      Converts string into lower case
center()	      Returns a centered string
count()	          Returns the number of times a specified value occurs in a string
encode()	      Returns an encoded version of the string
endswith()	      Returns true if the string ends with the specified value
expandtabs()	  Sets the tab size of the string
find()	          Searches the string for a specified value and returns the position of where it was found
format()	      Formats specified values in a string
format_map()	  Formats specified values in a string
index()	          Searches the string for a specified value and returns the position of where it was found
isalnum()	      Returns True if all characters in the string are alphanumeric
isalpha()	      Returns True if all characters in the string are in the alphabet
isascii()	      Returns True if all characters in the string are ascii characters
isdecimal()	      Returns True if all characters in the string are decimals
isdigit()	      Returns True if all characters in the string are digits
isidentifier()	  Returns True if the string is an identifier
islower()	      Returns True if all characters in the string are lower case
isnumeric()	      Returns True if all characters in the string are numeric
isprintable()	  Returns True if all characters in the string are printable
isspace()	      Returns True if all characters in the string are whitespaces
istitle()	      Returns True if the string follows the rules of a title
isupper()	      Returns True if all characters in the string are upper case
join()	          Joins the elements of an iterable to the end of the string
ljust()	          Returns a left justified version of the string
lower()	          Converts a string into lower case
lstrip()	      Returns a left trim version of the string
maketrans()	      Returns a translation table to be used in translations
partition()	      Returns a tuple where the string is parted into three parts
replace()	      Returns a string where a specified value is replaced with a specified value
rfind()           Searches the string for a specified value and returns the last position of where it was found
rindex()	      Searches the string for a specified value and returns the last position of where it was found
rjust()	          Returns a right justified version of the string
rpartition()	  Returns a tuple where the string is parted into three parts
rsplit()	      Splits the string at the specified separator, and returns a list
rstrip()	      Returns a right trim version of the string
split()	          Splits the string at the specified separator, and returns a list
splitlines()	  Splits the string at line breaks and returns a list
startswith()	  Returns true if the string starts with the specified value
strip()	          Returns a trimmed version of the string
swapcase()	      Swaps cases, lower case becomes upper case and vice versa
title()	          Converts the first character of each word to upper case
translate()	      Returns a translated string
upper()	          Converts a string into upper case
zfill()	          Fills the string with a specified number of 0 values at the beginning
"""
print("Hello World!")

Hello World!